@font-face {
  font-family: "Garaje";
  src: url("Garaje 0703-3503 VAR.woff2");
}

<<<<<<< Updated upstream
=======
/*
>>>>>>> Stashed changes
@font-face {
  font-family: "TheinhardMED";
  src: url("TheinhardtMed.woff2");
}

@font-face {
  font-family: "TheinhardREG";
  src: url("TheinhardtReg.woff2");
}

/*@keyframes change{
  0%{
    font-variation-settings: "wght" 200;
  }
}
  
  */
html,
body {
<<<<<<< Updated upstream
  background-color: transparent;
  font-family: Garaje, TheinhardMED, TheinhardREG;
=======
  background-color: white;
>>>>>>> Stashed changes
  margin: 0;
  padding: 0;
  font-variation-settings: "wght" 1000;
  line-height: normal;
  font-size: calc(1.5rem + 5vw);
  letter-spacing: 5px;
  color: #333;
  background: transparent;
  /*
  animation-name:change
  animation-duration:5s
  animation-direction:alternate
  animation-iteration-count: infinite
  */
}

.container{
  width: 800px;
  margin: auto;
  color: black;
  text-align: center;
  background-color: transparent;
}

h1,h2,h3{
  font-family:Garaje, TheinhardMED, TheinhardREG;
  font-weight: 100;
  font: size 2.6rem;
  text-transform: capitalize;
}

#seconds,
#tens{
  font: size 2em;
}


canvas {
  border: 0;
  background: transparent
}

@media only screen and (max-width: 400px) {
  .card {
    width: 90%;
    height: 90%;
  }
  /* section{
    padding: 40px;
  }
  header{
    padding: 20px 40px
  } */
}
